.task-container{
    height: 20%;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:aliceblue;
    border-radius: 10px;
}
.task-label{
    font-size: 1.2rem;
    font-weight: bold;
}
.task-input{
    width: 80%;
    margin: auto;
}
.task-btn{
    border-radius: 10px;
    background-color: aqua;
    color: white;
}
.task-btn:hover{
    border: 1px solid lightgrey;
    color: aqua;
    background-color: white;
}